# Ignore Mac os cache files
.DS_Store
# ignore generated CIP reports
*_CIPtagReport.txt
# ignore template creator log
createTemplate_logfile.txt
# ignore target folder
target
# ignore setVersions.log
gradleAddVersions_logfile.txt
