# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Mac os cache files
.DS_Store

# Ignore project output directory and contents
target
target/*
